<div class="container-hero">
    <div class="hero">
        <div class="container-title-button">
            <div class="container-title">
                <div class="title-hero">Fresh Mediterranean street wraps falaFULL of flavor </div>
            </div>
            <div class="container-button">
                <a class="title-button" href="">Try tadah!</a>
            </div>
        </div>

        <div class="container-img1-img2">
            <div class="img1C">
                <div class="container-img1">
                    <img class="img1" src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/spicesweet_wrap_img.png?v=1680975287" alt="" srcset="">
                </div>
            </div>
            <div class="container-img2">
                <img class="img2" src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/spicy-sweet-harissa-hummus_1.png?v=1680975287" alt="" srcset="">
            </div>
        </div>
        
        <div class="father-button-mobile">
            <div class="container-button-mobile">
                <a class="title-button-mobile" href="">Try tadah!</a>
            </div>
        </div>
        
        
    </div>
</div>