{{'tadah-chick.css' | asset_url | stylesheet_tag}}

<div class="father-all">
    <div class="container-all">
        <div class="section-chick">
            <div class="container-info-phrases">
                <div class="title-chick">‘Chick’ out what people are saying</div>
                <div class="container-slider">
                    <div class="coments">
                        <div class="coment-text">Even if you’re far away from your favorite falafel stand, you can get your fix in a matter of minutes.” </div>
                        <div class="autor">- Brian Kateman</div>
                        <div class="company">
                            <img class="img-company" src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/sharktank_logo_1.png?v=1680995833" alt="" srcset="">
                        </div>
                    </div>

                    <div class="coments">
                        <div class="coment-text">“Over 25% of the business’s profits go to organizations that are actively engaged in social change”</div>
                        <div class="autor">- S.M. Walsh</div>
                        <div class="company">
                            <img class="img-company" src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/entrepreneur_logo_1.png?v=1680995838" alt="" srcset="">
                        </div>
                    </div>

                    <div class="coments">
                        <div class="coment-text">"This feels really fresh like it was made a minute ago." </div>
                        <div class="autor"> - Daniel Lubetzky</div>
                        <div class="company">
                            <img class="img-company" src="https://cdn.shopify.com/s/files/1/0740/4139/3426/files/sharktank_logo_1.png?v=1680995833" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>