{{'tadah-last-section.css' | asset_url | stylesheet_tag}}

<div class="father-falafull">
    <div class="container-falafull">

        <div class="father-tortillas">
            <div class="container-img-tortillas">
                <img src="https://cdn.shopify.com/s/files/1/0747/9558/1749/files/4gardenveggie_wrap_img_1_1.png?v=1681057991" class="img-torillas" alt="" srcset="">
            </div>
            <div class="container-img-tortillas">
                <img src="https://cdn.shopify.com/s/files/1/0747/9558/1749/files/4gardenveggie_wrap_img_1_1.png?v=1681057991"  class="img-torillas" alt="" srcset="">
            </div>
        </div>

        <div class="content-falafull">

            <div class="father-title-button">
                <div class="title-falafull">FalaFULL of flavor</div>
                <div class="father-buton">
                    <a class="text-button" href="">TRY THE VARIETY PACK</a>
                </div>
            </div>

            <div class="container-social">
                <div class="logo-facebook">
                    <svg width="51" height="50" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="25.9586" cy="25" rx="25.0345" ry="25" fill="white"/>
                    <path d="M31.5151 27.0625L32.1996 22.5703H27.848V19.6406C27.848 18.3711 28.4347 17.1992 30.3905 17.1992H32.3952V13.3418C32.3952 13.3418 30.5861 13 28.8748 13C25.3054 13 22.9584 15.1973 22.9584 19.1035V22.5703H18.949V27.0625H22.9584V38H27.848V27.0625H31.5151Z" fill="#F47D34"/>
                    </svg>
                </div>
                <div class="logo-ig">
                    <svg width="51" height="50" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="25.0552" cy="25" rx="25.0345" ry="25" fill="white"/>
                    <path d="M25.2097 18.3574C21.4545 18.3574 18.4621 21.4043 18.4621 25.0957C18.4621 28.8457 21.4545 31.834 25.2097 31.834C28.9062 31.834 31.9572 28.8457 31.9572 25.0957C31.9572 21.4043 28.9062 18.3574 25.2097 18.3574ZM25.2097 29.4902C22.804 29.4902 20.8091 27.5566 20.8091 25.0957C20.8091 22.6934 22.7453 20.7598 25.2097 20.7598C27.6153 20.7598 29.5516 22.6934 29.5516 25.0957C29.5516 27.5566 27.6153 29.4902 25.2097 29.4902ZM33.7762 18.123C33.7762 17.2441 33.0721 16.541 32.1919 16.541C31.3118 16.541 30.6077 17.2441 30.6077 18.123C30.6077 19.002 31.3118 19.7051 32.1919 19.7051C33.0721 19.7051 33.7762 19.002 33.7762 18.123ZM38.2354 19.7051C38.1181 17.5957 37.6487 15.7207 36.1231 14.1973C34.5976 12.6738 32.72 12.2051 30.6077 12.0879C28.4368 11.9707 21.9239 11.9707 19.7529 12.0879C17.6407 12.2051 15.8217 12.6738 14.2375 14.1973C12.712 15.7207 12.2426 17.5957 12.1252 19.7051C12.0079 21.873 12.0079 28.377 12.1252 30.5449C12.2426 32.6543 12.712 34.4707 14.2375 36.0527C15.8217 37.5762 17.6407 38.0449 19.7529 38.1621C21.9239 38.2793 28.4368 38.2793 30.6077 38.1621C32.72 38.0449 34.5976 37.5762 36.1231 36.0527C37.6487 34.4707 38.1181 32.6543 38.2354 30.5449C38.3528 28.377 38.3528 21.873 38.2354 19.7051ZM35.419 32.8301C35.0083 34.002 34.0695 34.8809 32.9547 35.3496C31.1945 36.0527 27.0873 35.877 25.2097 35.877C23.2734 35.877 19.1662 36.0527 17.4646 35.3496C16.2911 34.8809 15.411 34.002 14.9416 32.8301C14.2375 31.1309 14.4136 27.0293 14.4136 25.0957C14.4136 23.2207 14.2375 19.1191 14.9416 17.3613C15.411 16.248 16.2911 15.3691 17.4646 14.9004C19.1662 14.1973 23.2734 14.373 25.2097 14.373C27.0873 14.373 31.1945 14.1973 32.9547 14.9004C34.0695 15.3105 34.9497 16.248 35.419 17.3613C36.1231 19.1191 35.9471 23.2207 35.9471 25.0957C35.9471 27.0293 36.1231 31.1309 35.419 32.8301Z" fill="#F47D34"/>
                    </svg>
                </div>
            </div>

            <div class="container-navegation">
                <div class="option-navegation">HOME</div>
                <div class="option-navegation">OUR STORY</div>
                <div class="option-navegation">SHOP</div>
                <div class="option-navegation">CONTACT</div>
            </div>

            <div class="container-copyrigth">
                ©2022 TaDah Foods All rights reserved.
            </div>

        </div>

        <div class="father-tortillas">
            <div class="container-img-tortillas">
                <img src="https://cdn.shopify.com/s/files/1/0747/9558/1749/files/2spicesweet_wrap_img_3.png?v=1681057991" class="img-torillas" alt="" srcset="">
            </div>
            <div class="container-img-tortillas">
                <img src="https://cdn.shopify.com/s/files/1/0747/9558/1749/files/1Right_Image.png?v=1681057991"  class="img-torillas" alt="" srcset="">
            </div>
        </div>


    </div>
</div>