{{'tadah-chick.css' | asset_url | stylesheet_tag}}

<div class="father-all">
    <div class="container-all">
        <div class="section-chick">
            <div class="container-info-phrases"></div>
        </div>
    </div>
</div>