
.father-falafull {
    background: #F47D34;
}

.container-falafull {
    background-image: url(https://cdn.shopify.com/s/files/1/0747/9558/1749/files/BlYF7Z_tif.png?v=1681058938);
    background-position: bottom;
    background-repeat: no-repeat;
    display: flex;
    width: 100%;
}

.father-tortillas, .content-falafull{
    width: 33.33%;
}

.container-img-tortillas-left{
    display: flex;
    justify-content:start;
}


.container-img-tortillas-rigth {
    display: flex;
    justify-content: end;
}

.content-falafull {
    display: flex;
    justify-content: center;
    align-items: center;
}