
.father-all .section-text-img-colors {
    width: 100%;
    display: flex;
    color: white;
}

.container-img-same , .container-text-same{
    width: 50%;
}


.container-text-same{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 138px;
}

.father-all .text-rosa{
    background: #E12843;
}

.father-all .title-same {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 12px;
}

.father-all .info-same {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
}

.father-all .autor-last-frame {
    margin-top: 14px;
}