
.father-falafull {
    background: #F47D34;
}

.container-falafull {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.father-tortillas, .content-falafull{
    width: 33.33%;
}

.container-img-tortillas-left{
    display: flex;
    justify-content:start;
}


.container-img-tortillas-rigth {
    display: flex;
    justify-content: end;
}


.father-title-button , .container-social , .container-navegation{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.father-title-button {
    flex-direction: column;
}
.title-falafull {
    margin-top: 43px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.father-buton {
    cursor: pointer;
    width: 277.27px;
    height: 50.41px;
    background: #F7D633;
    border-radius: 10px;
    margin-bottom: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #2E190F;
}

.logo-facebook {
    margin-right: 20px;
}

.option-navegation {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-right: 40px;
}

.last-contact {
    margin-right: 0;
}

.container-navegation {
    margin-bottom:28.83px;
}

.container-social {
    margin-bottom: 104px;
}

.container-copyrigth {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #2E190F;
}

.tortillas-last {
    margin-top: -175px;
}

.father-tortilla-mobile {
    display: none;
}

@media (max-width:1022px){
    .father-tortillas{
        display: none;
    }

    .father-tortilla-mobile {
        display: flex;
    }

    .container-falafull {
        display: block;
    }
}