
.father-all .section-text-img-colors {
    width: 100%;
    display: flex;
    color: white;
}

.container-img-same , .container-text-same{
    width: 50%;
}

.father-all .img-same {
    width: 100%;
    object-fit: cover;
}

.container-text-same{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 138px;
}

.father-all .text-rosa{
    background: #E12843;
}

.father-all .title-same {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 12px;
}

.father-all .info-same {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
}

.father-all .autor-last-frame {
    margin-top: 14px;
    margin-bottom: 130px;
}

.father-all .color-blue {
    background: #72CEE8;
}

.father-all .color-yellow{
    background: #F7D633;
}

.father-all .text-orange {
    background: #F47D34;

}

.father-all .container-backgroung {
    background: #E12843;
    width: 50%;
}


.father-all .last-frame {
    background-image: url(https://cdn.shopify.com/s/files/1/0747/9558/1749/files/wood_bg_1_1.png?v=1681050636);
    background-repeat: no-repeat;
    width: 50%;

}

.father-all .last-title-same{
    margin-top: 100px;
}

.father-all .boy {
    display: none;
}

.father-all .container-backgroung {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width:1106px) {
    .container-text-same {
        padding: 0 25px;
    }
}

@media (max-width:751px) {
    .container-text-same {
        padding: 0 25px;
    }

    .father-all .autor-last-frame {
        margin-bottom: 72px;
    }

    .father-all .section-text-img-colors {
        display: block;

    }

    .container-img-same , .container-text-same{
        width: 100%;
    }

    .container-text-same {
        height: 700px;
    }
}