
.father-all .section-text-img-colors {
    width: 100%;
    display: flex;
}

.container-img-same , .container-text-same{
    width: 50%;
}


.container-text-same{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

